@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Montserrat:wght@700&family=Varela+Round&display=swap');
.wlc{
    font-family: "Anuphan";
    text-align: center;
    font-size: 30px;
}
.heading{
    font-family: "Montserrat";
    font-size: 80px;
    margin-top: 10%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .welcome-text {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .center-button {
    text-align: center;
    margin-top: 20px;
  }
  
#fileNameDisplay {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }

  #submitButton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-family: "Varela Round";
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 0px solid black;
  }
.addf{
    font-family: "Varela Round";
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 0px solid black;
}
.addf:hover{
    cursor: pointer;
}
.manageAccessBtn, .removeBtn{
  display: block;
  margin: 0 auto;
  margin-top: 5px;

  font-family: "Varela Round";
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 0px solid black;
}
.removeBtn{
  margin-top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  max-width: 70%;
  max-height: 67%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.popup-heading {
  text-align: center;
  font-family: "Anuphan";
}

.close-btn {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Varela Round";
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 0px solid black;
  font-size: 18px;
}
.access-btn{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Varela Round";
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 0px solid black;
  font-size: 18px;
  margin-right: 10px;
  margin-left: -20%;
}


.popup-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.popup-buttons button {
  margin: 0 5px;
}

#accessTable {
  min-width: 100%;
  margin-top: 20px;
}

#accessTable th,
#accessTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#accessTable th {
  font-weight: bold;
}

.popup-form {
  display: none; /* Initially hide the form */
  margin-top: 20px;
}

.popup-form input {
  display: block;
  margin-bottom: 10px;
  width: 500px;
  padding: 20px;
  height: 20px;
  border: 1px solid #ccc;
  font-family: 'Varela Round';
  border-radius: 10px;
  font-size: 18px;
  
}

.submit-btn {
  margin-top: 20px;



  font-family: "Varela Round";
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 0px solid black;
  font-size: 18px;

}
.close-btn1{
  margin-top: 20px;
  display: block;

  font-family: "Varela Round";
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border: 0px solid black;
  font-size: 18px;
}
.revoke{
  font-family: "Varela Round";
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 0px solid black;
}
.popup-buttons2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.popup-buttons2 button {
  margin: 0 5px;
}

